.entry {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;

  margin: 1.5rem 0;
}

.entry__date {
  align-self: center;
  font-weight: 500;
}

.entry__header {
  display: flex;
  justify-content: space-between;
}
